.w-fit {
  width: fit-content;
}
.wp-20 {
  width: 20%;
}
.wp-30 {
  width: 30%;
}
.wp-42 {
  width: 42%;
}
.wp-50 {
  width: 50%;
}
.wp-60 {
  width: 60%;
}
.wp-70 {
  width: 70%;
}
.wp-80 {
  width: 80%;
}
.w-15 {
  width: 15rem;
}
.bg-lg {
  background-image: linear-gradient(to right, #2dd4bf, #14b8a6, #0d9488);
}
.bg-lg:hover {
  background-image: linear-gradient(to bottom right, #2dd4bf, #14b8a6, #0d9488);
}
@media screen and (max-width: 767px) {
  .main-post-container {
    padding: 5px !important;
  }
}
